#top {
}
#menu {
}
#result-info {
    text-align: center;
}
#main {
}
#playyard {
    text-align: center;
}
.content-card{
    width: 200px;
    /*height: 200px;*/
    display: inline-block;
}
